<configuration>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <appender name="file" class="ch.qos.logback.core.FileAppender">
      <file>logs/ame-application.log</file>
      <append>true</append>
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <logger name="io.micronaut" level="INFO"/>
   <logger name="io.micronaut.context" level="INFO"/>
   <logger name="io.micronaut.data" level="INFO"/>

   <logger name="org.apache.jena" level="INFO"/>

   <root level="INFO">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="file"/>
   </root>

   <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
</configuration>
