name: "Create Tagged Release"

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version number of the release'
        required: true

env:
  RELEASE_VERSION: ${{ github.event.inputs.release_version }}

permissions: {}

jobs:
  build:
    name: Create tagged release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15-intel, windows-latest, ubuntu-latest ]

    permissions:
      contents: write
      actions: read

    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Setup Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Configure Pagefile
        if: matrix.os == 'windows-latest'
        # Fix for "LINK : fatal error LNK1171: unable to load mspdbcore.dll (error code: 1455)":
        # This seems to be caused by running out of memory; increasing page file
        # size suggested here:
        # https://github.com/actions/virtual-environments/issues/3420#issuecomment-861342418
        uses: al-cheb/configure-pagefile-action@9b6da52fb72a3c6147c1aad2df22d8d905681adc # v1.5
        with:
          minimum-size: 16GB
          maximum-size: 16GB
          disk-root: "C:"

      - name: Setup graalvm ce
        uses: graalvm/setup-graalvm@54b4f5a65c1a84b2fdfdc2078fe43df32819e4b1 # v1.4.5
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache maven packages
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set versions
        if: matrix.os == 'ubuntu-latest'
        run: |
          release_branch_name=${RELEASE_VERSION%.*}.x
          echo "release_branch_name=$release_branch_name" >> $GITHUB_ENV

      - name: Create Release branch
        if: matrix.os == 'ubuntu-latest'
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git checkout -b ${{ env.release_branch_name }}
          git push origin ${{ env.release_branch_name }}

      - name: Set maven version
        if: matrix.os == 'macos-15-intel' || matrix.os == 'ubuntu-latest'
        run: mvn versions:set -DnewVersion=${RELEASE_VERSION}
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set maven version on Windows
        if: matrix.os == 'windows-latest'
        run: mvn versions:set -DnewVersion="${RELEASE_VERSION}"
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Creating native image (Mac)
        if: matrix.os == 'macos-15-intel'
        run: mvn install -P native-image,native-test-config -Dos.platform=mac -Dmaven.wagon.httpconnectionManager.ttlSeconds=60
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Creating native image (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: mvn install -P native-image,native-test-config -Dos.platform=linux -Dmaven.wagon.httpconnectionManager.ttlSeconds=60

        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up MSVC
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0

      - name: Creating native image (Win)
        if: matrix.os == 'windows-latest'
        run: mvn install -P native-image,native-test-config -D os.platform=win -D maven.wagon.httpconnectionManager.ttlSeconds=60
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Zip File with specified windows awt library
        if: matrix.os == 'windows-latest'
        run: |
          $sourceFolder = "aspect-model-editor-runtime/target"
          $zipFile = "aspect-model-editor-v${{ env.RELEASE_VERSION }}-win.zip"
          $tempDir = New-Item -ItemType Directory -Force -Path "$Env:TEMP\zip_temp"
          Get-ChildItem "$sourceFolder" -Filter "*.exe" | Copy-Item -Destination $tempDir
          Get-ChildItem "$sourceFolder" -Filter "*.dll" | Copy-Item -Destination $tempDir
          Compress-Archive -Path $tempDir\* -DestinationPath $zipFile
          Remove-Item -Recurse -Force $tempDir
        shell: pwsh

      - name: Upload binary (Windows)
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: ame-backend-v${{ env.RELEASE_VERSION }}-win
          path: |
            aspect-model-editor-runtime/target/ame-backend-${{ env.RELEASE_VERSION }}-win.exe
            aspect-model-editor-runtime/target/*.dll
            aspect-model-editor-runtime/target/*.bat
            aspect-model-editor-runtime/target/lib/

      - name: Upload binary (Mac)
        if: matrix.os == 'macos-15-intel'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: ame-backend-v${{ env.RELEASE_VERSION }}-mac
          path: aspect-model-editor-runtime/target/ame-backend-${{ env.RELEASE_VERSION }}-mac

      - name: Upload binary (Linux)
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: ame-backend-v${{ env.RELEASE_VERSION }}-linux
          path: aspect-model-editor-runtime/target/ame-backend-${{ env.RELEASE_VERSION }}-linux

      # Release Linux executables
      - name: Create GitHub release (Linux)
        if: ${{ (matrix.os == 'ubuntu-latest') &&  (!contains( github.ref, '-M' )) }}
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2.11.3
        with:
          file_glob: true
          overwrite: true
          prerelease: false
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: aspect-model-editor-runtime/target/ame-backend-${{ env.RELEASE_VERSION }}-linux
          tag: v${{ env.RELEASE_VERSION }}

      - name: Create GitHub pre-release (Linux)
        if: ${{ (matrix.os == 'ubuntu-latest') &&  (contains( github.ref, '-M' )) }}
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2.11.3
        with:
          file_glob: true
          overwrite: true
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: aspect-model-editor-runtime/target/ame-backend-${{ env.RELEASE_VERSION }}-linux
          tag: v${{ env.RELEASE_VERSION }}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      # Sign (Windows & Mac) executable
      - name: Get Artifact ID (Windows & Mac)
        shell: bash
        run: |
          # Get the list of artifacts for the specified workflow run
          response=$(curl -H "Authorization: Bearer $TOKEN" -H "Accept: application/vnd.github+json" "https://api.github.com/repos/${{ github.repository_owner }}/$(echo '${{ github.repository }}' | cut -d'/' -f2)/actions/runs/${{ github.run_id }}/artifacts")

          # Filter out the ID of the artifacts
          artifact_id_win=$(echo "$response" | jq -r '.artifacts[] | select(.name | contains("win")) | .id')
          artifact_id_mac=$(echo "$response" | jq -r '.artifacts[] | select(.name | contains("mac")) | .id')

          # Save the artifact ID in an environment variable
          echo "ARTIFACT_ID_WIN=$artifact_id_win" >> $GITHUB_ENV
          echo "ARTIFACT_ID_MAC=$artifact_id_mac" >> $GITHUB_ENV
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit Artifact url and version changes and push to pre release branch for jenkins (Windows & Mac)
        shell: bash
        run: |
          ARTIFACT_URL_WIN="https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/actions/artifacts/$ARTIFACT_ID_WIN/zip"
          ARTIFACT_URL_MAC="https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/actions/artifacts/$ARTIFACT_ID_MAC/zip"
          BRANCH_NAME="pre_release_configuration"

          echo "artifact_url_win=$ARTIFACT_URL_WIN" > parameters.txt
          echo "artifact_url_mac=$ARTIFACT_URL_MAC" >> parameters.txt
          echo "version=${{ env.RELEASE_VERSION }}" >> parameters.txt

          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git checkout -b $BRANCH_NAME
          git add parameters.txt
          git commit -m "Add parameters.txt with artifact_url_win, artifact_url_mac and version"
          git push origin $BRANCH_NAME
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger Jenkins Job, for signing executable
        shell: bash
        run: |
          DATA='{"repository": {"url": "https://github.com/eclipse-esmf/esmf-aspect-model-editor-backend", "html_url": "https://github.com/eclipse-esmf/esmf-aspect-model-editor-backend", "owner": { "name": "ESMF"}}, "pusher": { "name": "GitHub Action", "email": "esmf-dev@eclipse.org"}}'
          SHA1="$(echo -n "${DATA}" | openssl dgst -sha1 -hmac "${WEBHOOK_SECRET}" | sed 's/SHA1(stdin)= //')"
          curl -X POST https://ci.eclipse.org/esmf/github-webhook/ -H "Content-Type: application/json" -H "X-GitHub-Event: push" -H "X-Hub-Signature: sha1=${SHA1}" -d "${DATA}"
