name: "Create Tagged Release"

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version number of the release'
        required: true

jobs:
  gh_tagged_release:
    name: Create tagged release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Setup Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Configure Pagefile
        if: matrix.os == 'windows-latest'
        # Fix for "LINK : fatal error LNK1171: unable to load mspdbcore.dll (error code: 1455)":
        # This seems to be caused by running out of memory; increasing page file
        # size suggested here:
        # https://github.com/actions/virtual-environments/issues/3420#issuecomment-861342418
        uses: al-cheb/configure-pagefile-action@v1.2
        with:
          minimum-size: 16GB
          maximum-size: 16GB
          disk-root: "C:"

      - name: Setup graalvm ce
        uses: graalvm/setup-graalvm@v1
        with:
          version: '22.3.1'
          java-version: '17'
          components: 'native-image,js'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set versions
        run: |
          release_version=${{ github.event.inputs.release_version }}
          release_branch_name=${release_version%.*}.x
          echo "release_branch_name=$release_branch_name" >> $GITHUB_ENV

      - name: Set maven version
        run: mvn versions:set -DnewVersion=${{ github.event.inputs.release_version }}
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Creating native image (Mac)
        if: matrix.os == 'macos-latest'
        run: mvn install -P native-image -DskipTests -Dos.platform=mac -Dmaven.wagon.httpconnectionManager.ttlSeconds=60
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Creating native image (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: mvn install -P native-image -DskipTests -Dos.platform=linux -Dmaven.wagon.httpconnectionManager.ttlSeconds=60

        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Creating native image (Win)
        if: matrix.os == 'windows-latest'
        run: mvn install -P native-image -DskipTests -D os.platform=win -D maven.wagon.httpconnectionManager.ttlSeconds=60
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # License report is executed only once on Windows, because it is identical for all.
      - name: Creating native image (Win)
        if: matrix.os == 'windows-latest'
        run: |
          mvn license:download-licenses -Dlicense.excludedScopes=test
          Compress-Archive -Path target/generated-resources/licenses/, target/license.xml, target/bom.xml -DestinationPath Third-Party-Disclosure-Document.zip
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Create GitHub release Mac (full)"
        if: ${{ (matrix.os == 'macos-latest') &&  (!contains( github.ref, '-rc' )) }}
        uses: softprops/action-gh-release@v1
        id: esmf_ame_mac_release
        with:
          body: "Release version ${{ github.event.inputs.release_version }}."
          tag_name: v${{ github.event.inputs.release_version }}
          target_commitish: ${{ env.release_branch_name }}
          draft: false
          prerelease: false
          files: target/ame-backend!(*.txt)-mac
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

      - name: "Create GitHub pre-release Mac (full)"
        if: ${{ (matrix.os == 'macos-latest') &&  (contains( github.ref, '-rc' )) }}
        uses: softprops/action-gh-release@v1
        id: esmf_ame_mac_release
        with:
          body: "Release version ${{ github.event.inputs.release_version }}."
          tag_name: v${{ github.event.inputs.release_version }}
          target_commitish: ${{ env.release_branch_name }}
          draft: false
          prerelease: true
          files: target/ame-backend!(*.txt)-mac
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

      - name: "Create GitHub release Linux (full)"
        if: ${{ (matrix.os == 'ubuntu-latest') &&  (!contains( github.ref, '-rc' )) }}
        uses: softprops/action-gh-release@v1
        id: esmf_ame_linux_release
        with:
          body: "Release version ${{ github.event.inputs.release_version }}."
          tag_name: v${{ github.event.inputs.release_version }}
          target_commitish: ${{ env.release_branch_name }}
          draft: false
          prerelease: false
          files: target/ame-backend!(*.txt)-linux
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

      - name: "Create GitHub pre-release Linux (full)"
        if: ${{ (matrix.os == 'ubuntu-latest') &&  (contains( github.ref, '-rc' )) }}
        uses: softprops/action-gh-release@v1
        id: esmf_ame_linux_release
        with:
          body: "Release version ${{ github.event.inputs.release_version }}."
          tag_name: v${{ github.event.inputs.release_version }}
          target_commitish: ${{ env.release_branch_name }}
          draft: false
          prerelease: true
          files: target/ame-backend!(*.txt)-linux
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

      - name: "Create GitHub release Windows (full)"
        if: ${{ (matrix.os == 'windows-latest') && (!contains( github.ref, '-rc' )) }}
        uses: softprops/action-gh-release@v1
        id: esmf_ame_win_release
        with:
          body: "Release version ${{ github.event.inputs.release_version }}."
          tag_name: v${{ github.event.inputs.release_version }}
          target_commitish: ${{ env.release_branch_name }}
          draft: false
          prerelease: false
          files: |
            target/ame-backend!(*.txt)-win.exe
            Third-Party-Disclosure-Document.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

      - name: "Create GitHub pre-release Windows (full)"
        if: ${{ (matrix.os == 'windows-latest') && (contains( github.ref, '-rc' )) }}
        uses: softprops/action-gh-release@v1
        id: esmf_ame_win_release
        with:
          body: "Release version ${{ github.event.inputs.release_version }}."
          tag_name: v${{ github.event.inputs.release_version }}
          target_commitish: ${{ env.release_branch_name }}
          draft: false
          prerelease: true
          files: |
            target/ame-backend!(*.txt)-win.exe
            Third-Party-Disclosure-Document.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
