name: "Create Tagged Release"

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version number of the release'
        required: true

jobs:
  build:
    name: Create tagged release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15-intel, windows-latest, ubuntu-latest ]

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Setup Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21.0.9'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Configure Pagefile
        if: matrix.os == 'windows-latest'
        # Fix for "LINK : fatal error LNK1171: unable to load mspdbcore.dll (error code: 1455)":
        # This seems to be caused by running out of memory; increasing page file
        # size suggested here:
        # https://github.com/actions/virtual-environments/issues/3420#issuecomment-861342418
        uses: al-cheb/configure-pagefile-action@v1.2
        with:
          minimum-size: 16GB
          maximum-size: 16GB
          disk-root: "C:"

      - name: Set Swap Space (Linux)
        if: matrix.os == 'ubuntu-latest'
        uses: pierotofy/set-swap-space@49819abfb41bd9b44fb781159c033dba90353a7c # master
        with:
          swap-size-gb: 12

      - name: Set versions
        if: matrix.os == 'ubuntu-latest'
        run: |
          release_version=${{ github.event.inputs.release_version }}
          release_branch_name=${release_version%.*}.x
          echo "release_branch_name=$release_branch_name" >> $GITHUB_ENV

      - name: Create Release branch
        if: matrix.os == 'ubuntu-latest'
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git checkout -b ${{ env.release_branch_name }}
          git push origin ${{ env.release_branch_name }}

      - name: Set maven version
        if: matrix.os == 'macos-15-intel' || matrix.os == 'ubuntu-latest'
        run: mvn versions:set -DnewVersion=${{ github.event.inputs.release_version }}
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set maven version on Windows
        if: matrix.os == 'windows-latest'
        run: mvn versions:set -DnewVersion="${{ github.event.inputs.release_version }}"
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up MSVC
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build fet-jar
        run: |
          java --version
          export MAVEN_OPTS="-Xmx4096m"
          export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF8"
          # Build aspect model editor executable jar
          unset JAVA_TOOL_OPTIONS
          mvn -B clean install -Dmaven.wagon.httpconnectionManager.ttlSeconds=60
        shell: bash

      - name: Build warp packer (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          bundle="aspect-model-editor-bundle-${{ github.event.inputs.release_version }}-$(date +%s)"
          mkdir ${bundle}
          curl -Lo jre.tar.gz https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.9%2B10/OpenJDK21U-jre_x64_linux_hotspot_21.0.9_10.tar.gz
          tar -xvf jre.tar.gz
          cp -r ./jdk-21.0.9+10-jre ./${bundle}/jre
          cp aspect-model-editor-runtime/target/aspect-model-editor-runtime-${{ github.event.inputs.release_version }}.jar ./${bundle}/
          
          cat <<EOF > ./${bundle}/run.sh
          #!/usr/bin/env bash

          HERE=\${BASH_SOURCE%/*}

          "\$HERE/jre/bin/java" -jar "\$HERE/aspect-model-editor-runtime-${{ github.event.inputs.release_version }}.jar" "\$@"
          EOF
          chmod +x ./${bundle}/run.sh

          curl -Lo warp-packer https://github.com/dgiagio/warp/releases/download/v0.3.0/linux-x64.warp-packer
          chmod +x warp-packer
          
          ./warp-packer --arch linux-x64 --input_dir ${bundle} --exec run.sh --output ame-backend-${{ github.event.inputs.release_version }}-linux
          chmod +x ame-backend-${{ github.event.inputs.release_version }}-linux
          
          cp ame-backend-${{ github.event.inputs.release_version }}-linux aspect-model-editor-runtime/target/
        shell: bash

      - name: Build warp packer (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          $bundle = "aspect-model-editor-bundle-${{ github.event.inputs.release_version }}-$([int][double]::Parse((Get-Date -UFormat %s)))"
          mkdir $bundle
          New-Item -ItemType Directory -Path "$bundle\jre" -Force
          curl -Lo jre.zip https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.9%2B10/OpenJDK21U-jre_x64_windows_hotspot_21.0.9_10.zip
          tar -xf jre.zip
          Copy-Item .\jdk-21.0.9+10-jre\* .\$bundle\jre -Recurse
          Copy-Item aspect-model-editor-runtime/target/aspect-model-editor-runtime-${{ github.event.inputs.release_version }}.jar .\$bundle\

          Set-Content -Path .\$bundle\run.bat -Value "@echo off`n%~dp0jre\bin\java -jar %~dp0aspect-model-editor-runtime-${{ github.event.inputs.release_version }}.jar %*"

          curl -Lo warp-packer.exe https://github.com/dgiagio/warp/releases/download/v0.3.0/windows-x64.warp-packer.exe
          .\warp-packer.exe --arch windows-x64 --input_dir $bundle --exec run.bat --output ame-backend-${{ github.event.inputs.release_version }}-win.exe

          Copy-Item ame-backend-${{ github.event.inputs.release_version }}-win.exe aspect-model-editor-runtime/target/
        shell: pwsh

      - name: Build warp packer (Mac)
        if: matrix.os == 'macos-15-intel'
        run: |
          bundle="aspect-model-editor-bundle-${{ github.event.inputs.release_version }}-$(date +%s)"
          mkdir ${bundle}
          curl -Lo jre.tar.gz https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.9%2B10/OpenJDK21U-jre_x64_mac_hotspot_21.0.9_10.tar.gz
          tar -xvf jre.tar.gz
          cp -r ./jdk-21.0.9+10-jre ./${bundle}/jre
          cp aspect-model-editor-runtime/target/aspect-model-editor-runtime-${{ github.event.inputs.release_version }}.jar ./${bundle}/

          cat <<EOF > ./${bundle}/run.sh
          #!/usr/bin/env bash

          HERE=\${BASH_SOURCE%/*}

          "\$HERE/jre/Contents/Home/bin/java" -jar "\$HERE/aspect-model-editor-runtime-${{ github.event.inputs.release_version }}.jar" "\$@"
          EOF
          chmod +x ./${bundle}/run.sh

          curl -Lo warp-packer https://github.com/dgiagio/warp/releases/download/v0.3.0/macos-x64.warp-packer
          chmod +x warp-packer
          
          ./warp-packer --arch macos-x64 --input_dir ${bundle} --exec run.sh --output ame-backend-${{ github.event.inputs.release_version }}-mac
          chmod +x ame-backend-${{ github.event.inputs.release_version }}-mac

          cp ame-backend-${{ github.event.inputs.release_version }}-mac aspect-model-editor-runtime/target/
        shell: bash

      - name: Upload binary (Windows)
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ame-backend-v${{ github.event.inputs.release_version }}-win
          path: aspect-model-editor-runtime/target/ame-backend-${{ github.event.inputs.release_version }}-win.exe

      - name: Upload binary (Mac)
        if: matrix.os == 'macos-15-intel'
        uses: actions/upload-artifact@v4
        with:
          name: ame-backend-v${{ github.event.inputs.release_version }}-mac
          path: aspect-model-editor-runtime/target/ame-backend-${{ github.event.inputs.release_version }}-mac

      - name: Upload binary (Linux)
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ame-backend-v${{ github.event.inputs.release_version }}-linux
          path: aspect-model-editor-runtime/target/ame-backend-${{ github.event.inputs.release_version }}-linux

      # Release Linux executables
      - name: Create GitHub release (Linux)
        if: ${{ (matrix.os == 'ubuntu-latest') &&  (!contains( github.ref, '-M' )) }}
        uses: svenstaro/upload-release-action@latest
        with:
          file_glob: true
          overwrite: true
          prerelease: false
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: aspect-model-editor-runtime/target/ame-backend-${{ github.event.inputs.release_version }}-linux
          tag: v${{ github.event.inputs.release_version }}

      - name: Create GitHub pre-release (Linux)
        if: ${{ (matrix.os == 'ubuntu-latest') &&  (contains( github.ref, '-M' )) }}
        uses: svenstaro/upload-release-action@latest
        with:
          file_glob: true
          overwrite: true
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: aspect-model-editor-runtime/target/ame-backend-${{ github.event.inputs.release_version }}-linux
          tag: v${{ github.event.inputs.release_version }}

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      # Sign (Windows & Mac) executable
      - name: Get Artifact ID (Windows & Mac)
        shell: bash
        run: |
          # Get the list of artifacts for the specified workflow run
          response=$(curl -H "Authorization: Bearer $TOKEN" -H "Accept: application/vnd.github+json" "https://api.github.com/repos/${{ github.repository_owner }}/$(echo '${{ github.repository }}' | cut -d'/' -f2)/actions/runs/${{ github.run_id }}/artifacts")

          # Filter out the ID of the artifacts
          artifact_id_win=$(echo "$response" | jq -r '.artifacts[] | select(.name | contains("win")) | .id')
          artifact_id_mac=$(echo "$response" | jq -r '.artifacts[] | select(.name | contains("mac")) | .id')

          # Save the artifact ID in an environment variable
          echo "ARTIFACT_ID_WIN=$artifact_id_win" >> $GITHUB_ENV
          echo "ARTIFACT_ID_MAC=$artifact_id_mac" >> $GITHUB_ENV
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit Artifact url and version changes and push to pre release branch for jenkins (Windows & Mac)
        shell: bash
        run: |
          ARTIFACT_URL_WIN="https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/actions/artifacts/$ARTIFACT_ID_WIN/zip"
          ARTIFACT_URL_MAC="https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/actions/artifacts/$ARTIFACT_ID_MAC/zip"
          BRANCH_NAME="pre_release_configuration"

          echo "artifact_url_win=$ARTIFACT_URL_WIN" > parameters.txt
          echo "artifact_url_mac=$ARTIFACT_URL_MAC" >> parameters.txt
          echo "version=${{ github.event.inputs.release_version }}" >> parameters.txt

          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git checkout -b $BRANCH_NAME
          git add parameters.txt
          git commit -m "Add parameters.txt with artifact_url_win, artifact_url_mac and version"
          git push origin $BRANCH_NAME
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger Jenkins Job, for signing executable
        shell: bash
        run: |
          DATA='{"repository": {"url": "https://github.com/eclipse-esmf/esmf-aspect-model-editor-backend", "html_url": "https://github.com/eclipse-esmf/esmf-aspect-model-editor-backend", "owner": { "name": "ESMF"}}, "pusher": { "name": "GitHub Action", "email": "esmf-dev@eclipse.org"}}'
          SHA1="$(echo -n "${DATA}" | openssl dgst -sha1 -hmac "${WEBHOOK_SECRET}" | sed 's/SHA1(stdin)= //')"
          curl -X POST https://ci.eclipse.org/esmf/github-webhook/ -H "Content-Type: application/json" -H "X-GitHub-Event: push" -H "X-Hub-Signature: sha1=${SHA1}" -d "${DATA}"
